# Prerequisites
*.d
*.bak
*.TMP
*.tmp
*.temp
*.log
desktop.ini

# Object files
#Objects/
objects/
objects
**/OBJ/
**/obj/
**/Objects/
*.o
*.ko
*.obj
*.crf
*.dep
*.sct
# Added-for
*.__i
*.hex
*.htm

# Linker output
listings/
listings
**/List/
**/LIST/
**/Listings/
**/listing/
*.lst
*.map
*.exp

#mdk
*.user1
*.joseph
*.uvoptx
*.uvguix.*
*.uvgui.*

# IAR user files
*.ewd
*.ewt

# Build outputs
**/Debug/
**/Release/
**/Output/
**/Build/

# VS Code / Visual Studio workspace settings
.vscode/
.vs/
